{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row align-items-center">
        <div class="col my-5"></div>
        <div class="col my-5">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                            {{ message }}<br>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('user.process_reg') }}", method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3 form-label">
                    {{ form.username.label }}
                    {{ form.username() }}
                </div>
                <div class="mb-3 form-label">
                    {{ form.email.label }}
                    {{ form.email() }}
                </div>
                <div class="mb-3 form-label">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class="mb-3 form-label">
                    {{ form.password2.label }}
                    {{ form.password2() }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
