{% extends 'base.html' %}


{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img class="w-100" src="static/images/about.jpg">
        </div>
        <div class="col-md-8 col-sm-12 text-center">
            <h2>О нашей команде</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos obcaecati, maxime reprehenderit eos consequuntur a, deleniti et tenetur 
                similique cum blanditiis amet veniam molestias. Cum itaque delectus labore velit, consequatur vero explicabo reprehenderit adipisci at, 
                repellendus quae sapiente voluptatem. Tenetur accusantium doloribus corrupti pariatur ab! Quas veritatis aut doloremque voluptatibus.</p>
            <div class="container my-5">
                <div class="row text-start lh-1">
                    <h2>Контакты</h2>
                    <p>Наш магазин находится в ТЦ Волна</p>
                    <p>Режим работы: ежедневно с 10:00 до 20:00</p>
                    <p>Телефон: 8-800-555-3535</p>
                    <p>E-mail: text@example.com</p>
                </div>
                <div class="row text-start lh-1 my-5">
                    <h2>Реквизиты</h2>
                    <p>ИП Иванов Иван Иваныч</p>
                    <p>ОГРНИП: 000000000123</p>
                    <p>ИНН: 12300000</p>
                    <p>Расчетный счет: 78924821112676213 БАНК ПАВЕРБАНК</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
