{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center my-1 text-success">Наши работы</h1>
    <p class="text-center text-secondary">Приятного просмотра</p>
    
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <img src="static\images\1_1.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_1</p>
                    </div>
                    <div class="col">
                        <img src="static\images\5546_big.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_2</p>
                    </div>
                    <div class="col">
                        <img src="static\images\1.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_3</p>
                    </div>
                    <div class="col">
                        <img src="static\images\photo1.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_4</p>
                    </div>
                    <div class="col">
                        <img src="static\images\7077766_1.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_5</p>
                    </div>
                    <div class="col">
                        <img src="static\images\5552130_4.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_6</p>
                    </div>
                    <div class="col">
                        <img src="static\images\photo.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_7</p>
                    </div>
                    <div class="col">
                        <img src="static\images\5549_big.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_8</p>
                    </div>
                    <div class="col">
                        <img src="static\images\5264_big.jpg" class="d-block w-100" alt="...">
                        <p class="text-center my-2">Название_9</p>
                    </div>
                </div>
            </div>
        </div>
    
</div>
{% endblock %}
